*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(200deg, #0a5df7, #0af72a);
    color: #fff;
    font-family: 'New Tegomin', serif;
}
header{
    font-size: 2.1rem;
}

header,form{
    min-height: 15vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

form input, form button{
    padding: 0.8rem;
    outline: none;
    border: none;
    font-size: 1.3rem ;
    font-family: 'New Tegomin', serif;
    font-weight:650;
    border-radius: 3px;
}

form button{
    background-color:#0a5df7;
}

form button:hover{
    cursor: pointer;
    background-color:#0af72a;
}

.todo-container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.todo-list{
    min-width: 35%;
    list-style: none;
}

.todo{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin:0.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
}

.todo-items{
    flex:1;
    margin:0 0.3rem;
    padding:0.3rem;
    font-weight: 600;
    
}

.doneButton,.trashButton{
    background-color:  #0a5df7;
    padding:1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.trashButton:hover,.doneButton:hover{
    background-color:#0af72a;
}
.fas{
    pointer-events: none;
}

.trashed{
    transform: rotate(0.7turn);
    transition: 0.8s ease;
    opacity:0.4;
}

.finished{
    text-decoration: line-through;
    opacity: 0.6;
}